<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  {{#if title}}
    <title>{{ blogTitle}} &mdash; {{ title }}</title>
  {{else}}
    <title>{{ blogTitle}}</title>
  {{/if}}
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/reset.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/code.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
