{{> head }}
<body>
  {{> header}}
  <div class="blog-previews">
    {{#each pagination.files }}
      <div class="blog-preview">
        <div>
          <a href="/{{path}}/"><h1 class="blog-preview-title"> {{ title }}</h1>
          </a>
        </div>
        <div class="blog-preview-text"> {{ description }} </div>
        <div class="blog-byline"> {{author}} - {{ publishDate}}</div>
      </div>
    {{/each}}
  </div>
  <div class="navbar">
    {{#if pagination.previous}}
    <div class="navBack">
      <a href="/{{pagination.previous.path}}/">Back</a>
    </div>
    {{else}}
    <div class="navEmpty"></div>
    {{/if}}
    <div class="pageMarkers">
      {{#each pagination.pages}}
        {{#each this.pagination.getPages}}
          <div>{{@key}}</div>
          <br>
        {{/each}}
        <div class="pageMarker">
          <a href="/{{path}}/">{{pagination.num}}</a>
        </div>
      {{/each}}
    </div>
    {{#if pagination.next}}
    <div class="navForward">
      <a href="/{{pagination.next.path}}/">Next</a>
    </div>
    {{else}}
    <div class="navEmpty"></div>
    {{/if}}
  </div>
  {{> footer }}

</body>
</html>
