code {
  font-family: monospace;
}

.hljs-comment, .hljs-symbol, .hljs-number, .hljs-keyword{
  font-family: monospace;
}

.hljs-comment {
  color: #cd8d10;
}

.hljs-keyword {
  color: #496311;
}

.hljs-number {
  color: #a22f1f;
}
