.banner {
  width: 100%;
  height: 20em;
  background-color: blue;
  display:flex;
  justify-content: center;
  flex-flow: column wrap;
  background-position: center;
  background-size: cover;
}

.banner h1, .banner p {
  align-self: center;
  color: white;
  margin-bottom: 0.5em;
  text-align: center;
  background-color: rgba(0,0,0,0.2);
  box-shadow: 0 0 10px 8px rgba(0,0,0,0.2)
}

.banner h1{
  font-size: 4em;
}

p {
  color: black;
  font-family: 'Open Sans', sans-serif;
}

.previewContainer {
  display:flex;
  flex-flow:column wrap;
  width:100%;
  justify-content: center;
}

.preview {
  width:100%;
  display:flex;
  max-height: 30em;
  flex-flow: row wrap;
  margin-top: 2em;
  justify-content: space-around;
}

.preview-img {
  height: 18em;
  width: 100%;
  max-width:30em;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: 0.1em;
}

.preview-text {
  display:flex;
  justify-content: center;
  flex-flow: column nowrap;
  min-width: 15em;
  width: 40%;
}

.preview-text a{
  text-decoration: none;
}

.preview-title {
  font-size: 2em;
  color: #303030;
  text-decoration: none;
  margin-bottom: 0.7em;
  margin-top: 0.3em;
  align-self: center;
  text-align: center;
}

.preview-discription {
  color: #303030;
  align-self: center;
  font-family: 'Open Sans', sans-serif;
}

.header {
  display: flex;
  justify-content: flex-start;
  flex-flow: row nowrap;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: #202020;
  height: 1.5em;
  font-size: 1.5em;
}

.header a{
  align-self: center;
  text-decoration: none;
  color: #FAFAFA;
  margin-right: 1em;
  margin-left: 0.2em;
}

.header a:after{
  background: #FAFAFA;
}

.blog-previews {
  display:flex;
  flex-flow: column nowrap;
  margin: 1em;
  margin-top: 0em;
}

.blog-preview {
  align-self: center;
  max-width: 60em;
  width: 100%;
  margin-left: 1em;
  margin-right: 1em;
  padding-bottom: 0.7em;
  border-bottom: solid #DDD 1px;
  margin-top: 2em;
}

.blog-preview a:after{
  display:none;
}

.blog-preview-title {
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0.3em;
  font-weight: 550;
  color: #222;
  text-decoration: none;
  cursor:pointer;
  display:inline-block;
}

.blog-preview-title:after {
  content: '';
  width: 0px;
  height: 0.05em;
  display: block;
  background: #222;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.46, 0.34, 0.46, 1.41);
}

.blog-preview-title:hover:after {
  width: 100%;
}

.blog-preview-text, .blog-byline {
  color: #777;
  margin-top: 0.4em;
  font-family: 'Open Sans', sans-serif;
}

footer {
  margin-top: 1em;
  width:100%;
  background-color: #222;
  /* height: 3em; */
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.footer{
  display:flex;
  width: 30em;
  align-self:center;
  flex-flow: column;
}

.footer div{
  color: white;
  font-size: 1em;
  align-self:center;
  margin-bottom: 0.2em;
}

.socials img{
  height: 1.5em;
  align-self:center;
}

footer a{
  color: #0891f3;
}

footer a:after {
  background-color: #0891f3;
  background: #0891f3;
}

.post-wrapper{
  display:flex;

}

.post {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.4em;
  padding-right: 0.4em;
  max-width: 50em;
  width:100%;
  color: #222;
}

.post h1{
  font-size: 2em;
  margin-top: 0.5em;
}

.post h2, h3{
  margin-top: 0.5em;
  font-size: 1.5em;
}

.post h1:after, h2:after {
  color: red;
  display:inline-block;
  content: "";
  height: 1px;
  width: 100%;
  border-top: solid 1px #AAA;
  margin-bottom: 0.5em;
}

.post img{
  display:block;
  margin-top: 0.5em;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-height: 80vh;
}

.post p:empty {
  color:blue;
}

.post p{
  width: 100%;
  margin-bottom: 0.5em;
  font-family: 'Open Sans', sans-serif;
}

.post ul {
  list-style-type: circle;
  margin-left: 2em;
  margin-bottom: 1em;
}

.post a{
  text-decoration: underline;
  color: #0891f3;
}

.post a:after{
  display:none;
}

.post .title {
  font-weight: 600;
}

.post .blog-byline{
  margin-bottom: 1em;
}

.post .title:after{
  display:none;
}

.post .blog-byline:after{
  color: red;
  display:inline-block;
  content: "";
  height: 1px;
  width: 100%;
  border-top: solid 1px #AAA;
}

.post iframe{
  width: 100%;
  overflow: hidden;
  max-height: 80vh;
}

.navbar {
  display:flex;
  flex-flow: row;
  justify-content: space-around;
}

.navForward, .navBack {
  align-self: center;
  border: solid 2px black;
  border-radius: 3px;
  padding: 0.4em;
}

.navEmpty {
  width: 3em;
}

.pageMarker{
  float:left;
  margin: 0.5em;
}

a {
  text-decoration: none;
  color: #222;
}

a:after {
  content: '';
  width: 0px;
  height: 0.063em;
  display: block;
  background: #222;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.46, 0.34, 0.46, 1.41);
}

a:hover:after {
  width: 100%;
}

code {
  font-family: monospace;
  white-space: pre;
}

.two-column {
  display:flex;
  flex-flow: row;
}

.post strong{
  font-weight: 900;
}

.post tr {
  border-top: solid #3a3a3a 1px;
}

.post tr td:last-child{
  padding-right: 0.3em;
}

.post td {
  padding: 0.3em;
  vertical-align: middle;
  padding-right: 2em;
}

.post th {
  padding: 0.3em;
  padding-right: 2em;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}

@media only screen and (max-width: 500px) {
    body {
        font-size: 0.85em;
    }

    .preview-img {
      margin-left: 0;
    }
}
